@import url(bootstrap.css);
@import url(bootstrap.min.css);

.navbar ul {
	background: transparent;
  padding: 10px;
 
}
.navbar ul li {
	list-style-type: none;
	display: inline;
	padding: 10px;
}
.navbar ul li a {
	text-decoration: none;
	text-transform: capitalize;
  color: black;
}
.navbar{
  position: absolute;
  color: white;
  font-size: 30px;
  position: right;
}
.intro {
  background-image: url("/images/Pizza6.jpg");
  background-repeat: no-repeat;
  background-size:cover ;
  height: 100vh;
  top: 0;
}
.aboutus{
  justify-content:center;
  font-size: 15px;
  text-align: center;
}
.img-fluid{
 height: 200px;
}
.footer {
  background-color: rgb(181, 191, 202);
  width: 100%;
  height: 20vh;
  text-align: center;
  margin: 10px 0px 0px 0px;

}
#brand {
  color: #247a00;
  padding: 50px 0 0 50px;
  /* float: left; */
}
#brand span {
  color: #ea5b31;
}
.vertical {
  border-left: 2px solid #ffffff;
  position: absolute;
  height: 45vh;
  left: 50%;
  margin-top: 20px;
}

td {
  padding: 15px 0 0 12px;
}
#table {
  display: none;
}
.total {
  font-size: 34px;
  color: #ea5b31;
}
.checkout {
  text-align: center;
  display: none;
}
#success {
  display: none;
}
#no-delivery {
  display: none;
}